In [1]:
import pandas as pd
import numpy as np
import os
import time
import pickle

### read in files

In [2]:
datadir = '../../preprocess/kleinlab/output_subset/'

In [3]:
df_metadata = pd.read_csv(os.path.join(datadir,'metadata.tsv.gz'),sep='\t',index_col=0)
print(df_metadata.shape)
df_metadata.head()

(3221, 4)

     time Population Annotation  Well
84    6.0         LK       Mast     2
115   6.0         LK   Monocyte     2
190   6.0         LK       Mast     2
205   6.0         LK       Mast     2
337   6.0         LK        Meg     2

In [4]:
df_coord = pd.read_csv(os.path.join(datadir,'coordinates.tsv.gz'),sep='\t',index_col=0)
print(df_coord.shape)
df_coord.head()

(3221, 2)

            0        1
84  -1674.817 -867.362
115  2970.137  390.955
190 -1667.094 -846.103
205 -1769.354 -902.560
337 -1866.029  739.786

In [5]:
df_clones = pd.read_csv(os.path.join(datadir,'clones.tsv.gz'),sep='\t',index_col=0)
print(df_clones.shape)
df_clones.head()

(3221, 5864)

,0,1,2,3,4,5,6,7,8,9,...,5854,5855,5856,5857,5858,5859,5860,5861,5862,5863
84,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
115,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
190,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
205,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
337,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
### remove clones that have zero cells
df_clones = df_clones[df_clones.columns[df_clones.sum(axis=0)>0]]
print(df_clones.shape)
df_clones.head()

(3221, 365)

,50,82,105,111,134,190,213,239,251,269,...,5744,5764,5772,5773,5774,5805,5806,5818,5832,5850
84,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
115,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
190,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
205,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
337,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### define function to calculate clone pair-wise distance

In [8]:
### This is the function you should write
### here I am importing the one I wrote so you can have a reference

from megatron_HC import cal_clone_dist
st=time.time()
list_dist = cal_clone_dist(df_clones,df_coord,df_metadata)
ed = time.time()
print('running time(mins): '+ str((ed-st)/60))

`list_dist` stores the clone-pair distance. The order should be consistent with the column of `df_clones`

E.g.  given clones `[50,82,105,111]`,
the order of clone pairs in `list_dist` should be:

`[(50, 82), (50, 105), (50, 111), (82, 105), (82, 111), (105, 111)]`

In [9]:
list_dist

[1549.6929777720013,
 1116.2484441444446,
 562.719230058505,
 1306.2329146713298,
 1242.1556965007712,
 2472.5205032197896,
 887.2586942840254,
 1137.6648403660831,
 1347.924232333728,
 321.9892331248441,
 642.8140404397026,
 1665.0294820127529,
 1914.7974295836984,
 2088.2993938720015,
 2017.725783381394,
 917.9678325611312,
 1365.7491412312856,
 1246.567881315183,
 1671.0992427471913,
 1584.6436498227267,
 1068.171932813823,
 201.74106933024632,
 1755.7876261879007,
 281.9759941067577,
 213.4632398491416,
 527.5565004448284,
 1552.3071008776053,
 1050.3362650446625,
 244.7463017084763,
 332.9912086627706,
 903.3584814268412,
 1437.1461671230848,
 1513.2434002086472,
 1751.9394068822976,
 1252.1379857449544,
 1529.753271225992,
 1599.9155758930212,
 1727.4295679611214,
 1190.7449834848837,
 1202.798888867008,
 1432.3238417304713,
 1305.7876127547815,
 1259.7102547105917,
 958.912961970232,
 523.686191234679,
 2474.1634001162424,
 1389.8822701745573,
 817.5718041899864,
 1330.4189087686811,
 1840.0857567425203,
 433.14161504028715,
 1520.3143370078567,
 1280.7905079609752,
 2487.1722959504077,
 893.4965282837729,
 1592.3802187660028,
 275.02743847215726,
 294.3415036142855,
 1353.4457930980059,
 944.4475159961881,
 841.3596338415122,
 412.9872959442823,
 1393.4362816660298,
 753.5916927699955,
 1359.7488828447486,
 825.7943763198587,
 489.3428639744811,
 191.71553179175694,
 1635.4090305992922,
 603.7247092220376,
 1547.5404411488355,
 1088.4244574781721,
 1755.6401520208155,
 1024.8551676423988,
 1661.0631856898542,
 1228.582752690996,
 1873.770668263837,
 1426.1862235142391,
 301.1570600380889,
 1562.0286483128484,
 1584.8981644339121,
 2162.733720505585,
 1074.8551187724568,
 2230.0907998574717,
 1216.523191461322,
 1527.608866587873,
 1155.0455930800692,
 1744.282726302709,
 2229.4992172971693,
 1253.016882886415,
 419.86173983352023,
 1712.7112515665597,
 1336.5595205348218,
 2120.850371133107,
 1677.945803091299,
 977.562810041587,
 2292.361318981109,
 1356.8579787699994,
 1303.67313459297,
 1634.3222269942978,
 1036.9333128054525,
 1286.7888091329785,
 2004.7045097756343,
 379.76406613493924,
 1323.0627573462098,
 2404.3730638436787,
 851.2468803172368,
 191.10654890859803,
 1200.926992259535,
 1396.8693484074613,
 1129.4518181292922,
 258.8396030311658,
 1175.8575856357545,
 624.8536926450466,
 1587.6200891559408,
 395.4927779828383,
 2261.6500053228883,
 1925.1361768237973,
 1939.8067933372647,
 845.7611160872108,
 1193.5576919773164,
 1202.8144851306215,
 518.8285556569316,
 1273.4650804813107,
 1443.9641482897707,
 1386.4257776003087,
 2237.6234712752007,
 322.78780021169547,
 339.58757200826557,
 2270.9156307597445,
 1583.3908205843854,
 2253.451250273205,
 870.899301745204,
 1545.919533372123,
 855.8320800403532,
 2168.967577332927,
 1373.5570963817026,
 2250.86320065736,
 264.6625518031081,
 1413.32611904285,
 601.1186046072452,
 2334.159383569603,
 1356.142723523619,
 1523.403208794626,
 1260.2397025722948,
 510.274827078553,
 372.6728652801709,
 1480.0911422957379,
 409.47866592003,
 1471.7132527021543,
 2133.257514695143,
 1253.2176638781286,
 1046.073100299989,
 430.12810129065673,
 805.3167447689447,
 338.5884726600979,
 1782.7765476699421,
 462.746558030796,
 590.3553681649972,
 350.2173101271126,
 966.240227986119,
 1342.6067978546823,
 1153.8642464410193,
 2272.746735123061,
 2101.417127413322,
 2289.378838133875,
 1370.9648102359924,
 696.400760228919,
 317.88522089321845,
 494.43674204255694,
 1009.3527989470857,
 737.8561204851494,
 2389.726359797903,
 1259.170275754287,
 1206.1505031662455,
 1862.2798779751872,
 1040.7135566385434,
 1360.4878982933783,
 1920.4317050448092,
 1422.5436483903184,
 1499.142526221719,
 1782.7600843335015,
 1253.9766136547694,
 1226.6904892885693,
 743.7659794392517,
 1203.5141489926866,
 2005.481407130232,
 1671.4764312600075,
 1177.0865153326897,
 1671.9340192725197,
 2007.2196129546162,
 2291.978541738968,
 1534.0325013136305,
 1702.7291744788981,
 1347.2822108675011,
 1140.8813078756887,
 878.2139853427119,
 1499.6973930450124,
 768.2943828374927,
 1108.05651686562,
 1475.317700436286,
 1335.2305758158889,
 1907.8653849680638,
 443.47643901293213,
 1636.648041852943,
 1286.9808193208437,
 1981.1039301425117,
 1484.0964804578578,
 1573.091729448075,
 374.515372822541,
 953.2194082286983,
 1680.4034707398177,
 1489.2258500283053,
 1475.475766999172,
 1490.990956680829,
 2202.8182746928505,
 2162.213017201059,
 1970.0846890081139,
 1895.336729138331,
 1949.0786620048966,
 869.7700914597899,
 1675.5957604648095,
 1436.6777511712924,
 2011.6642339576422,
 865.8441925487247,
 1351.4529039541883,
 1155.3767150607607,
 732.4244687493701,
 1735.6632510533611,
 1002.4235844276824,
 1732.6816137353992,
 1039.3580189777683,
 351.4168354878604,
 2177.62324569375,
 559.845818131776,
 649.3130113749569,
 383.91900755700175,
 1087.7303239699404,
 1608.3839655318618,
 2064.12573024877,
 740.0548979987753,
 163.0678180975351,
 1820.8208469808044,
 1432.2952212433293,
 1383.7297823165609,
 1943.4152251088497,
 1082.0106511723386,
 1242.5302946399079,
 1293.912270215693,
 440.80544099075274,
 1449.6020035766087,
 1106.061885344319,
 1411.9745264785881,
 1478.201964081284,
 1951.1871427025437,
 1145.0978744025738,
 1967.6477704505971,
 860.3087752109647,
 864.913340064235,
 391.10429708537214,
 1574.5963064597584,
 1546.1574195011226,
 1007.8799440926142,
 1823.2110135114515,
 1927.297436017913,
 441.3666032021193,
 1489.5305327687536,
 1008.9532579789366,
 840.966741617668,
 1462.5243142232193,
 1319.5720452431444,
 835.3632634201822,
 1388.9324108278415,
 1271.876788834872,
 599.487309336179,
 504.7450860772785,
 1167.5001234994675,
 1643.2897068264438,
 2182.3389078203595,
 364.4644139163367,
 823.0435925842436,
 2411.131844103558,
 1976.1914385394364,
 492.7854342569226,
 504.6674218979853,
 2088.4811430882555,
 438.13475948103996,
 2096.900506031192,
 1515.7346535980525,
 1481.455026368435,
 707.5301831475612,
 1607.5115645192527,
 1626.7806165159998,
 997.2310962700853,
 1500.534359300347,
 1043.3590885083406,
 1374.5358661293822,
 1564.6417553895153,
 996.1376239492473,
 1696.8526828358517,
 284.0377324984564,
 675.1727086552385,
 336.5346405215808,
 1396.6700737164604,
 1505.507529712725,
 1193.6640362361798,
 1508.1408163721906,
 1253.1994779888096,
 1219.4915214787409,
 1279.0289604916736,
 1736.3251643764413,
 1795.4574651534379,
 1535.8747902954929,
 2159.526563390377,
 1195.6166138183778,
 1158.7714377773,
 2003.0834368241776,
 1491.2055433682242,
 1715.6662944354302,
 1558.8723466857343,
 1368.1805447827212,
 439.59193074468936,
 1383.8162238000962,
 1252.6060213833298,
 2236.7822652733216,
 1459.6197508537914,
 1879.1490907935913,
 458.7291062767549,
 1153.3260529921579,
 1162.2134666138213,
 491.7120148053291,
 928.0406670928623,
 565.7338220054545,
 1704.4217042025384,
 1533.735759972963,
 979.1866024622454,
 238.5602404197194,
 1694.2577932659524,
 1186.800954814598,
 1645.3783351492445,
 1760.4258072026714,
 1824.2854809915632,
 1615.4116251523094,
 1246.3695441004008,
 1002.644190677854,
 1543.1852006555716,
 1487.6141091375655,
 587.778528628402,
 628.9660013812548,
 1291.3084715945836,
 804.7744884001144,
 1907.6653314685616,
 1489.2994920254785,
 1129.2872769167807,
 1086.3099293125522,
 1957.031011849941,
 1397.230895999627,
 1524.7997857123519,
 2390.903913079374,
 1398.450862547558,
 1255.070632290056,
 901.7558130260539,
 1576.9603355459597,
 207.599668879433,
 2177.5404162828895,
 1899.7243823852034,
 1845.023816694422,
 337.4543285716456,
 3663.761396375799,
 1806.9716954803464,
 1634.9940904505254,
 1635.3882583717088,
 1615.6749823098064,
 2069.071399203053,
 2834.484542559762,
 1176.6661500202563,
 1589.4300364591684,
 1567.662888929386,
 1635.3830144230571,
 702.4314630442892,
 2482.693991801505,
 2770.88837036961,
 2280.2857526088324,
 506.6649973486108,
 1553.6445264117767,
 3045.296710284781,
 1385.6765876981797,
 1367.8338769795437,
 1060.4728541118457,
 2056.041804849489,
 451.6174877507965,
 1491.8896715670464,
 1607.1997571359807,
 1712.56119922593,
 138.49585348611632,
 1538.1582268597788,
 284.73439501222794,
 2167.9554153230724,
 1529.081566913315,
 2387.283228649367,
 2382.0709279780804,
 1818.065574721386,
 2316.7310030832236,
 1460.3083775858388,
 1726.5416662462403,
 1869.2176622026461,
 1879.656092807331,
 1490.8357116422367,
 3468.4208389808687,
 2307.9959783331174,
 1335.266476572808,
 2546.819802284708,
 1805.1475001133713,
 1168.0588869447135,
 1606.2500512913837,
 2195.4220727993807,
 3704.7272649496335,
 2440.024682128266,
 2780.2286913629573,
 1309.9720035694788,
 1713.6231329201535,
 1691.815057399831,
 1869.276466596794,
 1839.8960451798519,
 1858.5608562707323,
 1142.7198742011112,
 1540.2198140938726,
 1905.7105396481923,
 1098.8962207659688,
 1410.4785190500143,
 1611.5546862350827,
 3035.992874535886,
 1925.1032381202322,
 1799.5433863938395,
 597.1362027848696,
 509.2327925389988,
 2341.1623490133356,
 210.58445975375898,
 1924.7222376420584,
 1541.1716585358142,
 144.0402912233606,
 1290.7824168577547,
 1779.2459552772282,
 1685.871467729751,
 3098.9910457925234,
 499.0142919542183,
 2082.118305317851,
 1807.932155317065,
 199.29963658374064,
 402.84523849553375,
 1652.427585113449,
 3141.2434832986287,
 1834.9366829179435,
 1584.9632311960922,
 2975.102982960225,
 404.9801834307991,
 3058.7449147514276,
 1498.4701013495135,
 2142.5392742246227,
 3529.756038853251,
 2083.2626849061767,
 2177.923578144917,
 2286.5513417166276,
 1694.9900539985192,
 2180.9059665063573,
 3278.3349282698528,
 1219.1145399397071,
 2277.0598824173026,
 1877.3452091076422,
 1714.993215894704,
 1483.8463630701383,
 2389.0154567752083,
 1608.87716152411,
 2533.5368103441488,
 1708.6438476111314,
 1635.5393687983362,
 1259.911252597632,
 1379.6205752810936,
 1819.7871161894836,
 3476.3466893999835,
 1982.3616525941204,
 1725.6825202090959,
 2246.576066540947,
 1892.474928715411,
 2276.3296359157025,
 1746.5157609001617,
 1885.6382211541584,
 2671.15030611093,
 170.4060764283814,
 3140.118693593573,
 1667.5846299960701,
 1452.7286855544478,
 3191.1742523987255,
 1733.7688951724338,
 1916.2554350569835,
 2240.4865276850073,
 1601.230044171991,
 1629.5340679416456,
 3387.277574273716,
 250.87233809361354,
 3475.2248656847346,
 1404.5523795521347,
 207.63683676106874,
 1556.4723527203685,
 3273.534023525876,
 1742.6437617719446,
 2279.3545755639097,
 1818.1729182524962,
 1210.543355928082,
 1828.72869143554,
 1608.816010699554,
 1196.5096766696831,
 1958.7720794467068,
 3077.1880778058094,
 1497.009974756562,
 2355.8628813919718,
 1450.07533253773,
 924.0927894910609,
 1799.6044919611343,
 1243.1845943648568,
 1207.9536105992752,
 1021.3998330187978,
 1521.7689963584571,
 1660.5097714052954,
 218.03296903622223,
 414.13106565296727,
 3463.66184883287,
 1679.8617331794296,
 3216.6426975813724,
 2396.319064257297,
 910.0612516497503,
 1442.3142913903555,
 1158.1434411147009,
 567.2830583718413,
 879.0131547190367,
 2065.8179147448604,
 307.53807233904007,
 1691.4835273340934,
 1302.9908132246544,
 1665.1024178553878,
 2265.4410705824816,
 2965.733622771437,
 1612.808220852902,
 2313.730193568217,
 2296.9113526169954,
 333.6918531249942,
 1746.214999373314,
 740.2748897688822,
 397.6751318041654,
 1556.6293314811767,
 266.5355046930095,
 2241.1371940257577,
 249.98117259862306,
 1807.7803563531609,
 2001.2622287122551,
 2874.3551568743646,
 1772.3010845460446,
 211.63906396938046,
 2231.624888571962,
 1640.9524905471164,
 2116.4209380842253,
 1579.1509935504694,
 2554.3770442163873,
 234.67470305564643,
 232.6068854521274,
 1021.0630412308616,
 1801.8243452176569,
 1729.3223668887324,
 1963.1574806611854,
 2993.760175173417,
 2299.2054166503744,
 1536.5022359182483,
 1743.2958448229845,
 1691.1564704976897,
 1689.411930816533,
 1804.2974763250356,
 1459.4785433747154,
 2001.5869128743823,
 2875.524312945801,
 3361.7633507150895,
 3231.199311580225,
 1556.454664635546,
 1826.6030264103658,
 1716.5381317389572,
 1663.5837637376665,
 1719.041809883338,
 1887.0453890265453,
 1424.836847457235,
 2191.3339748707176,
 1663.0098928175423,
 794.032457401081,
 602.1542695184279,
 2334.090559987728,
 342.3996361779864,
 2400.516760415452,
 1827.0715175624089,
 3407.1076567418154,
 1036.1211084726804,
 1165.748666944201,
 1576.1886704897042,
 494.67764825416634,
 1752.8429044873046,
 3292.1118072787635,
 1668.5599027471833,
 1639.4434591263516,
 1380.1416222543837,
 2434.6914506087182,
 2120.2663462339806,
 1921.4985251900998,
 475.3069104096812,
 1864.5680005179947,
 285.8245456501178,
 1368.6241776809227,
 2296.7508042722475,
 1774.6972115220742,
 2479.8897313423727,
 1617.4705535061582,
 3015.235402665357,
 2314.824173050952,
 1438.8685831550774,
 736.974814417506,
 706.4368647671722,
 1849.500319869555,
 353.97339637615573,
 1773.9675569634103,
 1823.9834130702732,
 2891.6500622349504,
 808.224832666404,
 1868.111389547934,
 2371.9330507460586,
 1718.0211371594494,
 2103.1802355725504,
 1904.4612341255931,
 422.2389964288509,
 752.084450074071,
 1559.4940577796424,
 1735.8850130091116,
 1998.2165257222011,
 1490.1625492840183,
 458.60080882774764,
 339.38256070526296,
 3448.4419078963388,
 1813.4498732171298,
 2201.796188239289,
 1900.9033774020666,
 824.399574945608,
 2029.021362087411,
 1085.4655988303894,
 3314.711738587573,
 1825.2293335317802,
 1553.1090365858797,
 2206.979869282142,
 1450.327685018724,
 883.9117690546886,
 2235.886375624578,
 2979.345794685536,
 2327.7185131888436,
 2246.7443255161174,
 1337.1575943377404,
 2403.924532040023,
 1895.8015400731836,
 621.1375253797056,
 1410.884801461697,
 1331.4231926182151,
 2155.3500449148464,
 1605.5274471155408,
 2409.532187994408,
 1776.6794019142806,
 436.6244386449537,
 2235.709398501668,
 1620.204314509626,
 1666.624118770145,
 282.99076468823074,
 2368.0917864612716,
 849.8721300360925,
 2263.8879488301714,
 3090.784229394971,
 1736.7550650211617,
 1847.4900641127542,
 1491.1966068158279,
 2459.62950293657,
 1677.81250633258,
 1474.1703032608666,
 408.86210143709553,
 1905.7548305808948,
 2283.6699663707204,
 1845.4563280300197,
 3168.799682453516,
 183.18547459556476,
 2920.2216300716846,
 1743.73495227523,
 1648.521578735339,
 1800.9552535236508,
 1103.7855084444238,
 1785.0270997478,
 1002.8411908645288,
 2336.0581319449575,
 2283.6181784281507,
 1651.6150054604989,
 1374.4705330968454,
 2301.8085398097355,
 1791.5690280520478,
 1522.5337978506725,
 354.5983064240947,
 3050.3894939587917,
 110.70081111798277,
 2268.897268833286,
 587.988572455948,
 972.0945392832201,
 2231.4882027049025,
 2025.9839361241409,
 1539.3497569968997,
 1711.5305680620374,
 1388.168074062891,
 1861.9199696286578,
 2320.592397863076,
 2384.9596303479757,
 464.6229114033153,
 1926.0072915418375,
 2121.6193080179646,
 245.72976128357348,
 3280.8211628295853,
 368.7382047727679,
 1839.7739006847617,
 683.3559953004252,
 829.3942782752615,
 1519.692299001292,
 1268.3729425892996,
 2293.9964835430196,
 1875.0051065030912,
 2164.600758540773,
 1762.9416994361472,
 2157.0013267843105,
 2166.4884512697013,
 1026.841440947071,
 1381.8624486559913,
 996.7530735795887,
 2582.6098063271043,
 2875.2054933336526,
 2816.844672800327,
 1892.4335133838201,
 2245.7777801889456,
 630.8898280519667,
 1028.7426277722122,
 573.917135054233,
 1766.4788067975558,
 1020.7196950786829,
 1227.1375923736198,
 1258.5085835201198,
 1097.1395714894998,
 1401.197510693383,
 2527.3865230894025,
 1650.4469873078433,
 1198.2573786498147,
 1100.4957130137518,
 1980.212554383811,
 2054.5630760571894,
 2392.968625170952,
 2425.047849415558,
 486.8574845897826,
 2337.849815879966,
 680.0658473195608,
 718.2358970025589,
 2152.967161616373,
 537.6209207374746,
 2250.7540109000224,
 2297.226075914859,
 2261.909348027992,
 1858.4482983722382,
 1102.229176584349,
 2146.8377944517815,
 668.4067954342278,
 1649.4409080539792,
 624.5525772448938,
 2760.221154859561,
 1211.0930607958444,
 2440.099577990538,
 385.714094925702,
 2214.359598241912,
 783.2734473511326,
 894.3526525760412,
 1141.4104091964907,
 1110.5868766259089,
 2305.92106894953,
 1883.3137819504016,
 1755.3520932126066,
 1160.2929347489771,
 2030.6310477447112,
 1708.4705306359504,
 2348.1076228087936,
 1271.395864145519,
 1387.1307514312975,
 1032.369697699838,
 1484.893669013518,
 1376.0015058484066,
 2523.4061880809127,
 1628.895247049784,
 2469.381826738501,
 477.51413168481736,
 2308.585687453262,
 2169.783948704147,
 2664.691118741132,
 2049.3070463382774,
 1136.4875271679978,
 1100.4147766231044,
 2459.9861020718777,
 1335.4851685103984,
 1730.3535190762868,
 3087.124519243263,
 2185.8924454159637,
 2168.415133205481,
 1862.2283675004462,
 2592.479403389326,
 1371.3660442421244,
 2227.555669492627,
 1487.464558200254,
 1183.6494170742005,
 2152.2359848406045,
 1262.7678692121665,
 2520.2660369969412,
 1652.0007885463874,
 1982.2740213473219,
 469.89228507197487,
 324.50363944990113,
 599.5292642652367,
 2057.285822614142,
 307.192571633561,
 1749.6603107580358,
 1168.9338808687996,
 430.5570453503765,
 3207.784335057922,
 1834.5989444018244,
 1174.5080325296785,
 376.79963587894014,
 2363.6343711098166,
 630.6279297392118,
 1233.5435264047874,
 2163.0549019607697,
 1061.0357164752093,
 2236.962502664904,
 1066.5253518404716,
 1975.1646891656608,
 2858.9454306348866,
 2743.1261576880174,
 286.9612262458649,
 2125.35996903141,
 352.306529891342,
 1301.8697146869927,
 2206.90306874347,
 552.196808378883,
 2028.896195071861,
 1304.6525877674965,
 1109.4319247222393,
 1041.674627861692,
 1338.8287048707493,
 2406.4044371351397,
 3049.0973801333585,
 500.9040393877884,
 2353.8108507579336,
 1865.755804376565,
 1857.3207999287351,
 2031.0540223529515,
 1956.753700936447,
 1065.5632056143365,
 2046.6617566804719,
 1666.2235591182018,
 1318.839130662278,
 2363.3601023019396,
 636.1534291974763,
 2226.326879014055,
 1480.5212512152355,
 1180.4799861562108,
 2342.5211453179422,
 1376.6209719033193,
 2445.8484497761715,
 1307.3356060163935,
 2192.942238183501,
 297.9751922488669,
 1133.4696112892389,
 1565.0664282116102,
 1180.7122645821025,
 2367.3031691939445,
 1465.5528948396577,
 1348.6786703537457,
 1329.9321121709343,
 1903.535596087945,
 1962.0587190378276,
 1799.1564390188898,
 1963.259321412758,
 2929.6964086797784,
 1306.2125014384885,
 493.835651466604,
 1426.196170594406,
 1068.855171366627,
 1314.85461549069,
 1708.3577355577797,
 1452.9338820154196,
 3187.2815227853666,
 1890.0862573066636,
 2241.162601987205,
 2696.5616050320177,
 2081.5746914807664,
 480.13031647225495,
 1126.5287163117575,
 2440.0376374618772,
 584.0354096653568,
 798.7162549299725,
 1926.7708883595005,
 2235.4051518933497,
 1624.1426414581708,
 1915.7908813227052,
 2785.046319808033,
 2355.607045462748,
 482.7584118936608,
 2362.43118900877,
 2811.141068642862,
 3085.50190855013,
 1012.8977247012302,
 2606.133228923709,
 1973.0056009119573,
 223.88775969888445,
 1896.1203112433577,
 417.0363338947395,
 1741.5324032379685,
 976.9990143393383,
 2106.462698551372,
 1972.5206585546755,
 2628.154653552277,
 1272.62121928982,
 2542.169198516986,
 2189.9186674931866,
 1176.5353757591004,
 711.717991387735,
 2380.8390949024993,
 1155.9987733217656,
 1951.143542616479,
 2560.0104832585016,
 2472.50832429119,
 2286.507787586643,
 2453.3982675693555,
 1392.452893301149,
 1805.3750852567803,
 1741.109767531003,
 2703.4671458872995,
 2831.1392353810757,
 1825.2844731814064,
 2551.6446776346306,
 2418.449073352295,
 2827.4101569788277,
 1848.938118729726,
 428.5705847318907,
 2180.6678977478646,
 1531.8052711988585,
 2423.954095837114,
 816.6008771988978,
 2400.497051288813,
 329.9443176284399,
 1007.1204030323387,
 1885.2368549227524,
 1394.6865744218505,
 1737.0985487785263,
 1046.460333131303,
 1722.049661812549,
 2531.423972918646,
 1762.022231238633,
 1653.365762600636,
 1133.7685036100831,
 2626.5815760913015,
 506.36377647270484,
 369.12257257318373,
 2960.003179643998,
 1730.9998996385223,
 2215.393535185169,

`cal_clone_dist()` might take some time. The result can be saved as a `.pkl` file

```python
#save list_dist
with open('list_dist.pkl', 'wb') as f: 
    pickle.dump(list_dist, f)
#read back list_dist
with open('list_dist.pkl', 'rb') as f:
    list_dist = pickle.load(f)
```

### validation

#### comparing clone clusters with ground truth

In [10]:
from scipy.cluster.hierarchy import dendrogram, linkage, fcluster
from sklearn.metrics.cluster import adjusted_rand_score

In [11]:
Z = linkage(list_dist, 'ward')
# clone_clusters = fcluster(Z, 5000, criterion='distance')
clone_clusters = fcluster(Z, 5, criterion='maxclust')

In [12]:
clone_clusters

array([5, 4, 1, 5, 3, 4, 2, 3, 3, 3, 5, 5, 2, 3, 3, 3, 3, 4, 1, 2, 1, 4,
       5, 2, 5, 5, 5, 3, 4, 5, 5, 5, 4, 3, 4, 1, 3, 1, 1, 3, 1, 3, 3, 3,
       3, 5, 2, 1, 3, 1, 3, 5, 3, 1, 2, 1, 2, 5, 5, 3, 3, 5, 5, 3, 3, 3,
       5, 5, 5, 2, 5, 3, 4, 4, 1, 4, 3, 3, 4, 5, 1, 3, 2, 4, 3, 3, 4, 4,
       3, 2, 3, 5, 2, 4, 2, 3, 5, 2, 1, 1, 1, 3, 1, 2, 5, 1, 3, 3, 5, 1,
       3, 1, 5, 3, 5, 3, 5, 2, 3, 3, 1, 3, 1, 5, 3, 1, 4, 2, 5, 5, 2, 3,
       3, 1, 3, 3, 2, 4, 2, 5, 4, 5, 2, 3, 1, 3, 5, 5, 3, 5, 3, 2, 3, 1,
       5, 5, 5, 3, 5, 5, 5, 5, 4, 4, 2, 3, 2, 1, 5, 5, 5, 4, 5, 3, 4, 3,
       3, 3, 1, 2, 3, 1, 1, 4, 3, 4, 4, 3, 4, 1, 4, 3, 3, 1, 3, 4, 1, 3,
       1, 3, 1, 4, 4, 3, 5, 3, 3, 2, 1, 3, 5, 3, 3, 3, 3, 3, 2, 2, 2, 3,
       3, 3, 3, 3, 3, 3, 1, 3, 4, 4, 1, 4, 1, 5, 2, 5, 4, 5, 4, 3, 2, 3,
       5, 3, 1, 1, 3, 4, 3, 4, 5, 1, 3, 1, 3, 2, 1, 3, 4, 4, 5, 4, 3, 3,
       2, 4, 5, 1, 3, 1, 3, 4, 4, 3, 3, 5, 5, 4, 4, 2, 5, 1, 3, 4, 5, 5,
       2, 5, 3, 1, 4, 4, 1, 2, 1, 1, 3, 1, 3, 4, 3, 5, 1, 5, 1, 3, 4, 1,
       3, 3, 4, 1, 4, 1, 2, 3, 3, 3, 1, 3, 3, 4, 5, 1, 3, 2, 4, 2, 5, 3,
       3, 5, 3, 5, 1, 1, 3, 5, 1, 3, 3, 4, 2, 4, 1, 4, 3, 1, 5, 5, 3, 3,
       3, 1, 1, 4, 3, 1, 4, 2, 4, 3, 4, 4, 5], dtype=int32)

In [13]:
### read in groundtruth file
df_truth = pd.read_csv(os.path.join(datadir,'./clones_truth.tsv.gz'),sep='\t',index_col=0)
### score the result
adjusted_rand_score(df_truth['celltype'].tolist(), clone_clusters.tolist())

0.802824918977734